@charset "UTF-8";
@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url("../css/fonts/museosanscyrl-300.eot");
  src: url("../css/fonts/museosanscyrl-300.eot?#iefix") format("embedded-opentype"), url("../css/fonts/museosanscyrl-300.woff2") format("woff2"), url("../css/fonts/museosanscyrl-300.woff") format("woff"), url("../css/fonts/museosanscyrl-300.ttf") format("truetype"), url("../css/fonts/museosanscyrl-300.svg#MuseoSansCyrl300") format("svg"), url("../css/fonts/MuseoSansCyrl-300.otf"); }
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url("../css/fonts/museosanscyrl-500.eot");
  src: url("../css/fonts/museosanscyrl-500.eot?#iefix") format("embedded-opentype"), url("../css/fonts/MuseoSansCyrl1.woff2") format("woff2"), url("../css/fonts/MuseoSansCyrl_1.woff") format("woff"), url("../css/fonts/MuseoSansCyrl_1.ttf") format("truetype"), url("../css/fonts/museosanscyrl-500.svg#MuseoSansCyrl500") format("svg"), url("../css/fonts/MuseoSansCyrl-500.otf"); }
@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url("../css/fonts/museosanscyrl-700.eot");
  src: url("../css/fonts/museosanscyrl-700.eot?#iefix") format("embedded-opentype"), url("../css/fonts/MuseoSansCyrl2.woff2") format("woff2"), url("../css/fonts/MuseoSansCyrl_2.woff") format("woff"), url("../css/fonts/MuseoSansCyrl_2.ttf") format("truetype"), url("../css/fonts/museosanscyrl-700.svg#MuseoSansCyrl700") format("svg"), url("../css/fonts/MuseoSansCyrl-700.otf"); }
@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url("../css/fonts/museosanscyrl-900.eot");
  src: url("../css/fonts/museosanscyrl-900.eot?#iefix") format("embedded-opentype"), url("../css/fonts/MuseoSansCyrl3.woff2") format("woff2"), url("../css/fonts/MuseoSansCyrl_3.woff") format("woff"), url("../css/fonts/MuseoSansCyrl_3.ttf") format("truetype"), url("../css/fonts/museosanscyrl-900.svg#MuseoSansCyrl900") format("svg"), url("../css/fonts/MuseoSansCyrl-900.otf"); }
@media (min-width: 1920px) {
  .container {
    width: 1273px; } }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

textarea:focus, input:focus, button:focus, select:focus {
  outline: none; }

.line-block-order {
  padding: 15px 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb; }

.modal-special {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 30px; }

.value-column {
  display: block;
  font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }

.text-large-block {
  font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif !important; }

.hide-service {
  display: none; }

.pay-btn {
  line-height: 2.4 !important; }

.text-button {
  color: #FA8E27 !important; }
  .text-button-pdf {
    color: #FA8E27 !important; }
    .text-button-pdf-xs {
      width: 100% !important;
      color: #FA8E27 !important;
      padding-top: 10px;
      padding-bottom: 10px; }
  .text-button-xs {
    color: #FA8E27 !important;
    padding-top: 10px;
    padding-bottom: 10px; }

.line-block-avia {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd; }

.body-content {
  width: 1280px;
  margin: 0 auto; }
  .body-content.row {
    margin-left: auto;
    margin-right: auto; }

.checkbox-inline {
  display: inherit !important; }

.href-block {
  display: block; }

.btn-block-reset {
  line-height: 1.41 !important;
  height: 100%;
  font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif;
  padding: 10px 12px !important; }

.page-header {
  color: #FA8E27 !important;
  font-size: 24px; }

.border-min {
  border: 1px solid #FA8E27 !important; }
  .border-min-route {
    border: 2px solid #FA8E27 !important;
    background-color: inherit !important; }
    .border-min-route:hover {
      background-color: white !important; }

.span-item-td {
  text-align: left; }
  .span-item-td-right {
    text-align: left; }

.grey-background {
  background-color: #FFFFFF !important; }

.btn-service {
  padding: 1px !important; }

.border-std {
  border: 1px solid #ddd; }

.row.row-special {
  margin-left: -5px;
  margin-right: -5px; }
  .row.row-special div.col-sm-1, .row.row-special div.col-sm-2, .row.row-special div.col-sm-3, .row.row-special div.col-sm-4, .row.row-special div.col-sm-5, .row.row-special div.col-sm-6, .row.row-special div.col-sm-7, .row.row-special div.col-sm-8, .row.row-special div.col-sm-9, .row.row-special div.col-sm-10, .row.row-special div.col-sm-11, .row.row-special div.col-sm-12, .row.row-special div.col-md-1, .row.row-special div.col-md-2, .row.row-special div.col-md-3, .row.row-special div.col-md-4, .row.row-special div.col-md-5, .row.row-special div.col-md-6, .row.row-special div.col-md-7, .row.row-special div.col-md-8, .row.row-special div.col-md-9, .row.row-special div.col-md-10, .row.row-special div.col-md-11, .row.row-special div.col-md-12 {
    padding-left: 5px;
    padding-right: 5px; }

.font-checkbox {
  font-size: 18px !important; }
  .font-checkbox-big {
    font-size: 24px; }

.glyphicon-question-sign {
  background-color: black;
  border-radius: 10px; }

.white-background {
  background-color: white !important; }
  .white-background-special {
    background-color: white !important; }

.bad-price {
  text-decoration: line-through;
  padding: 10px; }

#moreInfo {
  float: right; }

.moreInfo-2 {
  text-align: left !important; }

.underline {
  cursor: pointer;
  text-decoration: underline; }

.underline-text {
  text-decoration: underline;
  padding-left: 10px;
  cursor: pointer; }
  .underline-text-link {
    text-decoration: underline;
    cursor: pointer; }

.glyphicon-question-sign {
  color: #F7E1DA; }

.title-column {
  display: block;
  font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }

.airline-header {
  background-color: #7986CC !important;
  color: white !important; }

.change-flight {
  padding-left: 30px; }

.offer-back {
  background-color: #D6DBEF !important;
  padding: 20px 0; }
  .offer-back-route {
    background-color: #DFDFDF !important;
    padding: 15px 0;
    border-radius: 5px 5px 0 0 !important; }

.full-content {
  margin: 5px 0; }

.danger-notice {
  color: #F35F5B; }

.pay-class {
  padding: 10px;
  text-align: center; }

.percent-absolute {
  position: absolute;
  top: 10px;
  right: 12px;
  font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
  color: #359600; }

.pay-class:hover {
  border: 1px solid #FA8E27 !important;
  background-color: #fffbfb;
  cursor: pointer; }

.input-bonus {
  font-size: 20px !important;
  /*размер шрифта*/ }

.input-birthday {
  /*Убираем повтор изображения*/
  /*Позиционируем*/
  background: url("../images/calendar.png") no-repeat 4px !important;
  padding-left: 25px !important;
  /*отступ слева от ввода, чтобы текст не был на картинке*/ }

.ul-width {
  width: 245px;
  list-style: none;
  padding-left: 0; }

.padding-header {
  padding-top: 30px;
  padding-bottom: 15px; }
  .padding-header-2 {
    padding-top: 30px !important;
    padding-bottom: 0px; }
  .padding-header-3 {
    padding-top: 15px;
    padding-bottom: 0px; }
    .padding-header-3 div.text-right {
      margin: -6px; }
      .padding-header-3 div.text-right.first-service {
        margin: 0px; }
  .padding-header-4 {
    padding-top: 40px;
    padding-bottom: 20px; }
  .padding-header-5 {
    padding-top: 20px; }
    .padding-header-5-b {
      padding-top: 20px;
      padding-bottom: 20px; }
  .padding-header-6 {
    padding-top: 50px; }
  .padding-header-0 {
    padding-top: 10px;
    padding-bottom: 10px; }

.modal-header {
  border-bottom: none  !important; }

.custom-br {
  line-height: 1 !important; }

.img-responsive-order {
  height: 50px;
  padding-bottom: 10px; }

.modal-size {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: -50px; }

.modal-body {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px; }

.upcase {
  text-transform: uppercase; }

.form-control {
  border-radius: 0 !important;
  height: 42px !important; }

.popup-grid {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.padding-left-right {
  padding-left: 80px !important;
  padding-right: 80px !important; }
  .padding-left-right-spec {
    padding-left: 20px !important;
    padding-right: 20px !important; }
    .padding-left-right-spec-first {
      padding-left: 60px !important;
      padding-right: 20px !important; }
  .padding-left-right-middle {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .padding-left-right-light {
    padding-left: 4.5px !important; }

.font-sixteen {
  font-size: 16px !important; }

.padding-bottom {
  padding-bottom: 45px; }
  .padding-bottom-light {
    padding-bottom: 25px; }
  .padding-bottom-lightw {
    padding-bottom: 10px; }

.reserv-btn {
  height: 100%;
  font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif;
  background-color: #f57b20;
  color: #fff;
  padding: 5px 0 !important; }
  .reserv-btn-big {
    height: 100%;
    font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif;
    background-color: #f57b20;
    color: #fff;
    padding: 10px 0 !important; }

.border-footer {
  border-bottom: 1px solid #BBBBBB; }

.border-ride {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px; }

.border-radius-none {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }

.description {
  font-size: 10px; }
  .description-2 {
    font-size: 11px; }

.margin-headers {
  margin-top: 10px;
  margin-bottom: 10px; }

.top-header {
  margin-top: -15px; }

.order-col {
  padding-left: 20px !important;
  padding-right: 20px; }
  .order-col-popup {
    padding-left: 40px !important;
    padding-right: 40px; }
  .order-col-route {
    padding-left: 20px !important;
    padding-right: 5px;
    padding-bottom: 45px; }

.button-calendar {
  display: block;
  background: #f1f2fa;
  padding: 10px;
  border: none;
  margin: 10px;
  font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif; }

.row.row-special {
  margin-left: -5px;
  margin-right: -5px; }
  .row.row-special div.col-sm-1, .row.row-special div.col-sm-2, .row.row-special div.col-sm-3, .row.row-special div.col-sm-4, .row.row-special div.col-sm-5, .row.row-special div.col-sm-6, .row.row-special div.col-sm-7, .row.row-special div.col-sm-8, .row.row-special div.col-sm-9, .row.row-special div.col-sm-10, .row.row-special div.col-sm-11, .row.row-special div.col-sm-12, .row.row-special div.col-md-1, .row.row-special div.col-md-2, .row.row-special div.col-md-3, .row.row-special div.col-md-4, .row.row-special div.col-md-5, .row.row-special div.col-md-6, .row.row-special div.col-md-7, .row.row-special div.col-md-8, .row.row-special div.col-md-9, .row.row-special div.col-md-10, .row.row-special div.col-md-11, .row.row-special div.col-md-12, .row.row-special div.col-xs-1, .row.row-special div.col-xs-2, .row.row-special div.col-xs-3, .row.row-special div.col-xs-4, .row.row-special div.col-xs-5, .row.row-special div.col-xs-6, .row.row-special div.col-xs-7, .row.row-special div.col-xs-8, .row.row-special div.col-xs-9, .row.row-special div.col-xs-10, .row.row-special div.col-xs-11, .row.row-special div.col-xs-12, .row.row-special div.col-lg-1, .row.row-special div.col-lg-2, .row.row-special div.col-lg-3, .row.row-special div.col-lg-4, .row.row-special div.col-lg-5, .row.row-special div.col-lg-6, .row.row-special div.col-lg-7, .row.row-special div.col-lg-8, .row.row-special div.col-lg-9, .row.row-special div.col-lg-10, .row.row-special div.col-lg-11, .row.row-special div.col-lg-12 {
    padding-left: 5px;
    padding-right: 5px; }

.rows.rows-special {
  margin-left: 15px !important;
  margin-right: 15px !important; }
  .rows.rows-special div.col-sm-1, .rows.rows-special div.col-sm-2, .rows.rows-special div.col-sm-3, .rows.rows-special div.col-sm-4, .rows.rows-special div.col-sm-5, .rows.rows-special div.col-sm-6, .rows.rows-special div.col-sm-7, .rows.rows-special div.col-sm-8, .rows.rows-special div.col-sm-9, .rows.rows-special div.col-sm-10, .rows.rows-special div.col-sm-11, .rows.rows-special div.col-sm-12, .rows.rows-special div.col-md-1, .rows.rows-special div.col-md-2, .rows.rows-special div.col-md-3, .rows.rows-special div.col-md-4, .rows.rows-special div.col-md-5, .rows.rows-special div.col-md-6, .rows.rows-special div.col-md-7, .rows.rows-special div.col-md-8, .rows.rows-special div.col-md-9, .rows.rows-special div.col-md-10, .rows.rows-special div.col-md-11, .rows.rows-special div.col-md-12 {
    padding-left: 5px;
    padding-right: 5px; }

.text-grey {
  color: #b1b1b1; }
  .text-grey-big {
    color: #b1b1b1;
    font-size: 16px !important;
    font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif !important; }
.text-bold {
  font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif; }

.special-orange {
  color: #F57B20;
  font-size: 13px; }

.button-info {
  color: #323232;
  background: #f1f2fa;
  cursor: pointer;
  text-transform: capitalize; }
  .button-info.btn {
    padding: 10px 25px;
    font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
    border: 1px solid #f1f2fa; }
    .button-info.btn.flickity-prev-next-button {
      font-size: 16px;
      padding: 5px 8px 2px;
      margin-left: 7px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%; }
    .button-info.btn.active {
      background: white;
      box-shadow: none;
      border: 1px solid #F57B20; }
  .button-info.minus, .button-info.plus {
    padding: 10px 11px 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%; }
    .button-info.minus:before, .button-info.plus:before {
      position: relative;
      font-size: 20px;
      font-weight: 900; }
  .button-info.minus:before {
    content: "\2013"; }
  .button-info.plus:before {
    content: '+'; }
  .button-info:hover {
    background: #fde5d2; }

.row-left-right {
  margin-left: -20px;
  margin-right: -20px; }

body {
  margin: 0;
  padding: 0;
  background: #eeeeee !important; }
  body div.modal-header button.btn-close-modal {
    color: white !important;
    position: absolute;
    right: 0;
    z-index: 555555;
    margin-right: -36px;
    opacity: 1;
    text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -webkit-text-shadow: none;
    font-size: 26px; }
  body div.modal-dialog div.modal-content {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    z-index: 7878; }
    body div.modal-dialog div.modal-content div {
      z-index: 7878; }
  @media (min-width: 1279px) {
    body .modal-lg {
      width: 1241px; } }
  body header {
    padding: 10px 0 1px;
    background: #3949ab;
    margin-bottom: 84px;
    position: relative; }
    body header.offer {
      margin-bottom: 20px; }
    body header nav {
      border-bottom: 1px solid #4c5bb5;
      padding-bottom: 10px;
      padding-top: 5px; }
      body header nav div.logo, body header nav div.navigation, body header nav div.telephone, body header nav div.login {
        float: left; }
      body header nav div.logo {
        width: 10%;
        z-index: 1;
        position: relative; }
      body header nav div.navigation {
        width: 64%;
        text-align: left; }
        body header nav div.navigation ul {
          padding-left: 0;
          margin-bottom: 0; }
          body header nav div.navigation ul li {
            list-style: none;
            display: inline-block;
            line-height: 55px;
            position: relative; }
            body header nav div.navigation ul li a {
              color: #7986cb;
              font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
              font-size: 15px;
              line-height: 25px;
              padding: 0 15px;
              text-decoration: none; }
            body header nav div.navigation ul li.active a {
              color: white; }
            body header nav div.navigation ul li.active:after {
              display: block; }
            body header nav div.navigation ul li.active:hover:after {
              background: white; }
            body header nav div.navigation ul li:after {
              content: '';
              position: absolute;
              height: 1px;
              width: 100%;
              margin-top: 10px;
              display: none;
              background: white; }
            body header nav div.navigation ul li:hover {
              cursor: pointer; }
              body header nav div.navigation ul li:hover:after {
                display: block;
                background: #6373D0; }
        body header nav div.navigation div.header-title {
          display: none; }
      body header nav div.telephone {
        width: 19%;
        padding-top: 5px; }
        body header nav div.telephone div {
          float: left; }
          body header nav div.telephone div.icon {
            background: url("../images/phone_24.png") no-repeat 100%;
            width: 24pt;
            height: 24pt;
            display: inline-block;
            position: absolute; }
          body header nav div.telephone div.info {
            color: white;
            padding-left: 40px;
            padding-top: 5px; }
            body header nav div.telephone div.info span {
              font-family: MuseoSansCyrl700;
              font-size: 18px; }
          body header nav div.telephone div.callback {
            position: relative;
            margin-top: -6px;
            text-align: center;
            padding-left: 3px; }
            body header nav div.telephone div.callback a {
              color: #7986cb;
              text-decoration: underline; }
              body header nav div.telephone div.callback a:hover {
                text-decoration: none; }
      body header nav div.login {
        width: 7%;
        padding-top: 9px;
        z-index: 1;
        position: relative; }
        body header nav div.login button {
          height: 40px;
          background: none;
          border: 1px solid #4C5BB5;
          color: #7986CB;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0; }
          body header nav div.login button:hover, body header nav div.login button:focus, body header nav div.login button:active {
            color: white;
            border-color: white; }
  body div.content .logo, body div.modal .logo {
    padding: 0 10px;
    margin-right: 7px;
    position: relative; }
    body div.content .logo.from-air, body div.modal .logo.from-air {
      background: url("../images/icon-flight-from.png") no-repeat 100%; }
    body div.content .logo.to-air, body div.modal .logo.to-air {
      background: url("../images/icon-flight-to.png") no-repeat 100%; }
  body div.content div.block-checkout {
    padding: 50px 0 69px; }
    body div.content div.block-checkout-order {
      padding: 15px 0 15px; }
  body div.content div.title-block {
    padding-bottom: 25px; }
    body div.content div.title-block p.title-desc {
      padding-top: 10px; }
  body div.content div.line-block {
    padding: 15px 0;
    border-top: 1px solid #bbb; }
    body div.content div.line-block-order {
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb; }
    body div.content div.line-block-in {
      padding: 15px 0;
      border-top: 1px solid #bbb; }
    body div.content div.line-block-route {
      padding: 20px 0;
      border-top: 1px solid #bbb; }
    body div.content div.line-block-routes {
      border-top: 1px solid #bbb; }
    body div.content div.line-block-order {
      padding: 15px 0; }
    body div.content div.line-block:last-child {
      border-bottom: 1px solid #bbb; }
  body div.content div.line-block-small {
    padding-bottom: 10px; }
  body div.content div.border-block {
    border: 1px solid #bbb;
    padding: 15px 0; }
    body div.content div.border-block.checked-block {
      border: 1px solid #FA8E27; }
      body div.content div.border-block.checked-block div.selected {
        border-top: 1px solid #FA8E27; }
        body div.content div.border-block.checked-block div.selected div.selected-content div.row-special div div.submit a.reserv-btn {
          font-size: 30px; }
      body div.content div.border-block.checked-block div.title span:first-child {
        color: #FA8E27; }
    body div.content div.border-block div.title, body div.content div.border-block div.content, body div.content div.border-block div.selected {
      padding-left: 15px;
      padding-right: 15px; }
    body div.content div.border-block div.title span.services {
      font-size: 19px; }
    body div.content div.border-block div.title span.border-services {
      border-bottom: 1px solid #bbb;
      display: block;
      padding-top: 15px; }
    body div.content div.border-block div.content div.items {
      padding-top: 10px;
      padding-bottom: 10px; }
    body div.content div.border-block div.selected {
      border-top: 1px solid #bbb; }
  body div.content span.text-front-block {
    font-family: MouseSansCyrl300, ​ Arial, ​ sans-serif;
    font-size: 15px; }
  body div.content span.title-block {
    font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif;
    font-size: 21px; }
    body div.content span.title-block.title-success {
      color: #FA8E27; }
  body div.content span.title-column {
    display: block;
    font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
    body div.content span.title-column-route {
      display: block;
      font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
      font-size: 13px; }
  body div.content span.logo {
    padding: 0 10px;
    margin-right: 7px;
    position: relative; }
    body div.content span.logo.from-air {
      background: url("../images/icon-flight-from.png") no-repeat 100%; }
    body div.content span.logo.to-air {
      background: url("../images/icon-flight-to.png") no-repeat 100%; }
  body div.content span.value-column {
    display: block;
    font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
    body div.content span.value-column-2 {
      display: block; }
    body div.content span.value-column.value-success {
      color: #FA8E27; }
  body div.content span.text-bold-block {
    font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
  body div.content span.text-large-block {
    font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif !important; }
    body div.content span.text-large-block-footer {
      font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif;
      font-size: 18px; }
  body div.content span.text-vlarge-block {
    font-family: MuseoSansCyrl900, ​ Arial, ​ sans-serif; }
  body div.content a.link-block {
    color: #3949ab;
    cursor: pointer;
    text-decoration: underline;
    padding: 0 15px;
    font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
    body div.content a.link-block-desc {
      color: #0f0f0f;
      text-decoration: underline;
      font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
      cursor: pointer; }
    body div.content a.link-block-without {
      color: #3949ab;
      padding: 0 15px;
      font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
      body div.content a.link-block-without-head {
        color: #3949ab;
        font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
  body div input.radio-style:not(old), body div input.check-style:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0; }
  body div label.radio-gender-check {
    float: left;
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid black;
    margin-right: 4px;
    margin-top: 2px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%; }
  body div input.radio-style:not(old):checked + label.radio-gender-check:before {
    content: '';
    background: black;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 2px auto; }
  body div label.check-gender-check {
    float: left;
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid black;
    margin-right: 4px;
    margin-top: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px; }
  body div input.check-style:not(old):checked + label.check-gender-check:before {
    content: '';
    background: black;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 2px auto; }
  body footer {
    background: url("../images/FOOTER.png");
    height: 290px;
    padding: 79px 0;
    margin: 0 0; }
    body footer div.head div.phones {
      color: white; }
      body footer div.head div.phones a {
        color: white;
        cursor: pointer;
        font-size: 25px;
        font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif; }
        body footer div.head div.phones a:hover {
          text-decoration: none; }
    body footer div.head div.head-links ul {
      padding-left: 0;
      display: block;
      text-align: center;
      line-height: 2; }
      body footer div.head div.head-links ul li {
        display: inline-block;
        padding: 0 27px;
        list-style: none; }
        body footer div.head div.head-links ul li a {
          color: white;
          cursor: pointer;
          font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
          font-size: 12pt; }
    body footer div.head div.footer-links {
      margin-top: -27px;
      border-bottom: 1px solid #1A237E;
      padding-bottom: 27px; }
      body footer div.head div.footer-links div.links {
        text-align: center;
        padding: 0 144px; }
        body footer div.head div.footer-links div.links a {
          color: #5564BA;
          margin: 0 15px; }
          body footer div.head div.footer-links div.links a:after {
            content: '';
            padding: 2px;
            background: #5564ba;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -webkit-border-radius: 50%;
            position: absolute;
            margin: 9px 15px; }
          body footer div.head div.footer-links div.links a:last-child:after {
            display: none; }
      body footer div.head div.footer-links span.copyright {
        float: right;
        margin-top: -20px;
        color: #5564BA; }
    body footer div.partners {
      text-align: center; }
      body footer div.partners div {
        width: 58px;
        height: 33px;
        display: inline-block;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        margin: 14px 4px 0;
        cursor: pointer; }
        body footer div.partners div.master {
          background: url("../images/master.png") no-repeat center #1A237E; }
        body footer div.partners div.visa {
          background: url("../images/visa.png") no-repeat center #1A237E; }
        body footer div.partners div.iata {
          background: url("../images/iata.png") no-repeat center #1A237E; }
    body footer div.social-btn div {
      width: 39px;
      height: 38px;
      display: inline-block;
      margin-left: 5px; }
      body footer div.social-btn div.fb {
        background: url("../images/fb.png") no-repeat center 100%; }
      body footer div.social-btn div.vk {
        background: url("../images/vk.png") no-repeat center 100%; }

a {
  font-family: MuseoSansCyrl300; }

span {
  font-family: MuseoSansCyrl300; }

p {
  font-family: MuseoSansCyrl300; }

h1, button {
  font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif;
  font-size: 23pt;
  color: white; }

h2 {
  font-family: MuseoSansCyrl900, ​ Arial, ​ sans-serif !important; }

h3 {
  font-size: 24px; }

h4 {
  color: #46D13A !important; }

.span-spot {
  color: #46D13A !important; }

.font-large {
  font-size: 20px; }

@media (min-width: 601px) and (max-width: 1023px) {
  .special-orange {
    color: #F57B20;
    font-size: 18px; }

  .body-content {
    width: 100%;
    padding-left: 30px; }

  body header nav {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: none; }
    body header nav div.logo {
      width: 25%; }
    body header nav div.navigation {
      width: 100%; }
      body header nav div.navigation div.header {
        float: left;
        width: 25%;
        text-align: center; }
        body header nav div.navigation div.header-title {
          display: block;
          float: left;
          width: 50%;
          font-size: 16px;
          color: #7292FF;
          position: relative;
          text-align: center;
          padding: 12px 0 12px 0;
          font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
        body header nav div.navigation div.header button.navbar-toggle {
          display: block; }
        body header nav div.navigation div.header button span.icon-bar {
          background: white; }
    body header nav div.telephone, body header nav div.login {
      display: block; }
    body header nav div.navigation ul {
      display: none;
      float: left;
      margin-top: 15px;
      background: #31409C;
      padding-left: 15px; }
      body header nav div.navigation ul.active {
        display: block; }
      body header nav div.navigation ul li {
        width: 50%;
        padding: 0 8px;
        float: left;
        border-top: 1px solid #3949ab; }
        body header nav div.navigation ul li:nth-child(2n) {
          border-left: 1px solid #3949ab; }
        body header nav div.navigation ul li a {
          display: block;
          width: 100%;
          padding: 12px 28px; }
        body header nav div.navigation ul li:hover, body header nav div.navigation ul li:focus {
          background: #515FB7; }
          body header nav div.navigation ul li:hover a, body header nav div.navigation ul li:focus a {
            color: white; }
        body header nav div.navigation ul li.active:after {
          display: none; }
        body header nav div.navigation ul li:hover:after {
          display: none; }
  body div.content {
    padding-right: 5px;
    padding-left: 5px; }
    body div.content div.block-checkout-order {
      padding: 0 0 0; }
    body div.content div.body-content {
      padding-left: 0; }
      body div.content div.body-content div.blues-background {
        background-color: #D6DBF0 !important; }
      body div.content div.body-content div.border-ride.block-checkout {
        padding: 50px 0 10px; }
        body div.content div.body-content div.border-ride.block-checkout div.form-group {
          margin-bottom: 0; }
      body div.content div.body-content.padding-bottom {
        padding-bottom: 0; }
      body div.content div.body-content div.row.row-special.padding-header-2 {
        padding-bottom: 0;
        padding-top: 0; }
      body div.content div.body-content div.padding-left-right {
        padding-left: 20px !important;
        padding-right: 20px !important; }
        body div.content div.body-content div.padding-left-right-spec {
          padding-left: 20px !important;
          padding-right: 20px !important; }
        body div.content div.body-content div.padding-left-right div.col-md-12.col-xs-10 span.text-large-block-footer {
          font-size: 12px; }
      body div.content div.body-content div.block-checkout-order div.order-col.row.row-special div span.value-column {
        display: inline; } }
@media (min-width: 1200px) {
  .padding-lg {
    padding-left: 30px; }
    .padding-lg-2 {
      padding-left: 50px; }

  .checkbox-inline {
    display: inherit;
    padding-left: 0; } }
@media (min-width: 601px) and (max-width: 960px) {
  .row.row-special {
    margin-left: -5px;
    margin-right: -5px; }
    .row.row-special div.col-sm-1, .row.row-special div.col-sm-2, .row.row-special div.col-sm-3, .row.row-special div.col-sm-4, .row.row-special div.col-sm-5, .row.row-special div.col-sm-6, .row.row-special div.col-sm-7, .row.row-special div.col-sm-8, .row.row-special div.col-sm-9, .row.row-special div.col-sm-10, .row.row-special div.col-sm-11, .row.row-special div.col-sm-12, .row.row-special div.col-md-1, .row.row-special div.col-md-2, .row.row-special div.col-md-3, .row.row-special div.col-md-4, .row.row-special div.col-md-5, .row.row-special div.col-md-6, .row.row-special div.col-md-7, .row.row-special div.col-md-8, .row.row-special div.col-md-9, .row.row-special div.col-md-10, .row.row-special div.col-md-11, .row.row-special div.col-md-12 {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px; }

  .grey-background-xs {
    background-color: #eee !important; }

  .price-position {
    position: absolute !important;
    top: 20px;
    right: 0;
    font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif; }

  .check-padding {
    padding-left: 20px !important; }

  .padding-left-right-spec-first {
    padding-left: 20px !important;
    padding-right: 20px !important; }

  .href-block {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  .line-block-order {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb; }

  .bottom-sm {
    padding-bottom: 5px !important; }

  body div.content div.body-content {
    padding-left: 0; }
    body div.content div.body-content div.padding-bottom {
      padding-bottom: 0; }
    body div.content div.body-content div div.row.row-special.padding-header-2 {
      padding-bottom: 0;
      padding-top: 0; } }
@media (max-width: 1281px) and (min-width: 1024px) {
  .body-content {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px; } }
@media (min-width: 601px) and (max-width: 1269px) {
  .padding-left-right {
    padding-left: 30px !important;
    padding-right: 30px !important; }

  .button-costumer-dop {
    text-align: center; }
    .button-costumer-dop a.href-block {
      display: inline-block;
      padding-right: 15px;
      padding-left: 15px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  div.line-block-right div.line-block {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb; }
    div.line-block-right div.line-block:nth-child(1n+1) {
      border-bottom: none; }
    div.line-block-right div.line-block:nth-child(2n) {
      border-right: none; }
    div.line-block-right div.line-block:nth-child(3n) {
      border-bottom: 1px solid #bbb; }
    div.line-block-right div.line-block:first-child {
      border-top: 1px solid #bbb; } }
@media (min-width: 320px) and (max-width: 1269px) {
  .body-content {
    width: 100%;
    margin: auto; } }
@media (min-width: 1024px) and (max-width: 1032px) {
  .radio-inline {
    margin-left: 0 !important; } }
@media (min-width: 320px) and (max-width: 600px) {
  .line-block-in {
    border-top: none; }

  .font-big-xs {
    font-size: 18px; }

  .upcase {
    text-transform: none; }

  .line-block-xs {
    border-bottom: none !important; }

  .pay-class {
    padding: 5px;
    text-align: center;
    margin: 3px; }

  .white-background-special {
    background-color: #EEEEEE !important; }

  .price-position {
    position: absolute !important;
    top: 20px;
    right: 0;
    font-family: MuseoSansCyrl700, ​ Arial, ​ sans-serif; }

  .href-block {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  .grey-background-xs {
    background-color: #eee !important; }

  .check-padding {
    padding-left: 20px !important; }

  .span-item-td {
    text-align: left; }
    .span-item-td-right {
      display: block;
      text-align: right; }

  .padding-left-right-spec-first {
    padding-left: 20px !important;
    padding-right: 20px !important; }

  body header.offer {
    margin-bottom: 0; }
  body header nav {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: none; }
    body header nav div.logo {
      width: 25%; }
    body header nav div.navigation {
      width: 100%; }
      body header nav div.navigation div.header {
        float: left;
        width: 25%;
        text-align: center; }
        body header nav div.navigation div.header-title {
          display: block;
          float: left;
          width: 50%;
          font-size: 16px;
          color: #7292FF;
          position: relative;
          text-align: center;
          padding: 12px 0 12px 0;
          font-family: MuseoSansCyrl500, ​ Arial, ​ sans-serif; }
        body header nav div.navigation div.header button.navbar-toggle {
          display: block;
          padding: 0 0; }
        body header nav div.navigation div.header button span.icon-bar {
          background: white; }
    body header nav div.login {
      display: none; }
    body header nav div.telephone div {
      display: none; }
      body header nav div.telephone div.icon {
        display: block; }
    body header nav div.navigation ul {
      display: none;
      float: left;
      margin-top: 15px;
      margin-left: -10px;
      margin-right: -10px;
      background: #31409C; }
      body header nav div.navigation ul.active {
        display: block; }
      body header nav div.navigation ul li {
        width: 100%;
        border-top: 1px solid #3949AB; }
        body header nav div.navigation ul li a {
          display: block;
          width: 100%;
          padding: 12px 28px; }
        body header nav div.navigation ul li:hover, body header nav div.navigation ul li:focus {
          background: #515FB7; }
          body header nav div.navigation ul li:hover a, body header nav div.navigation ul li:focus a {
            color: white; }
        body header nav div.navigation ul li.active:after {
          display: none; }
        body header nav div.navigation ul li:hover:after {
          display: none; }
  body header div.title {
    display: none; }
  body div.content {
    padding-right: 5px;
    padding-left: 5px; }
    body div.content div.block-checkout-order {
      padding: 0 0 0; }
    body div.content div.body-content {
      padding-left: 0; }
      body div.content div.body-content div.row.row-special div.border-ride.block-checkout {
        padding: 50px 0 10px; }
        body div.content div.body-content div.row.row-special div.border-ride.block-checkout div.form-group {
          margin-bottom: 0; }
      body div.content div.body-content.padding-bottom {
        padding-bottom: 0; }
      body div.content div.body-content div.row.row-special.padding-header-2 {
        padding-bottom: 0;
        padding-top: 0; }
      body div.content div.body-content div.padding-top {
        padding-left: 20px !important;
        padding-right: 20px !important;
        background-color: #EEEEEE; }
      body div.content div.body-content div.padding-left-right {
        padding-left: 20px !important;
        padding-right: 20px !important; }
        body div.content div.body-content div.padding-left-right.-spec {
          padding-left: 20px !important;
          padding-right: 20px !important; }
        body div.content div.body-content div.padding-left-right-here {
          padding-left: 20px !important;
          padding-right: 20px !important;
          background-color: #EEEEEE !important; }
        body div.content div.body-content div.padding-left-right div.col-md-12.col-xs-10 span.text-large-block-footer {
          font-size: 12px; }
      body div.content div.body-content div.block-checkout-order div.order-col.row.row-special div span.value-column {
        display: inline; }
  body label.radio-gender {
    width: 10px;
    color: white;
    padding-right: 14px; }
    body label.radio-gender:first-letter {
      content: '';
      color: #000; }
  body footer {
    background: url("../images/footer-mibile.png");
    height: auto;
    background-size: cover;
    padding: 61px 0 60px; }
    body footer div.body-content {
      padding-left: 10px; }
    body footer div.partners {
      text-align: left; }
    body footer div.head div.phones {
      padding-bottom: 15px; }
      body footer div.head div.phones a {
        padding-left: 10px; }
    body footer div.head div.head-links {
      display: none; }
    body footer div.head div.footer-links {
      margin-top: auto; }
      body footer div.head div.footer-links div.links {
        padding: 0 0;
        text-align: left; }
        body footer div.head div.footer-links div.links a {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px; }
          body footer div.head div.footer-links div.links a:after {
            display: none; }
    body footer div.social-footer span.copyright {
      color: #5564BA;
      display: block;
      padding-top: 21px; }

  #breadcrumbs {
    padding: 5px; } }
.custom-question {
  padding-top: 0.5px;
  text-align: center;
  width: 15px;
  height: 13px;
  color: black;
  background-color: #F7E1DA;
  border-radius: 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.border-bottom-line {
  border-bottom: 1px solid #bbb; }

/*# sourceMappingURL=stylesheet.css.map */
