{rtf1ansiansicpg1252cocoartf1404cocoasubrtf470
{fonttblf0fnilfcharset0 HelveticaNeue;}
{colortbl;red255green255blue255;}
margl1440margr1440vieww18520viewh21920viewkind0
deftab720
pardpardeftab720sl280sa240partightenfactor0

f0fs24 cf0 expnd0expndtw0kerning0
PlayMath will be available '85
{
font-family: Lato;
font-size: 40px;
color: #675bff;
letter-spacing:0.02em;
}
uc0u8232 u8232
Enter your email address below to get a FREE TRIAL
{
font-family: Lato;
font-size: 20px;
color: #000;
letter-spacing:0.02em;
}
uc0u8232
Enter Your Email
{
font-family: Lato;
font-size: 12px;
text-transform: uppercase;
color: #868585;
letter-spacing:0.03vem;
}
uc0u8232
Request FREE TRIAL
{
font-family: Lato;
font-size: 14px;
color: #ffffff;
letter-spacing:0.03vem;
}
uc0u8232
.email textbox
{
 border-width: 1px;
 border-color: rgb(215, 215, 215);
 border-style: solid;
}
uc0u8232
.pop_up_bg rectangle {
 border-width: 3px;
 border-color: rgb(143, 196, 16);
 border-style: solid;
 border-radius: 15px;
 background-color: rgb(255, 255, 255);
}
pardpardeftab720sl280partightenfactor0
cf0
.bg
{
 background-color: rgb(0, 0, 0);
 opacity: 0.45;
}



}