Menu:
/* menu items */
font-family: Lato;
font-size: 16px;
font-weight: 500;
color: #404040;
letter-spacing: 0.03em;

/* selected menu item */
color: #6861fc;

/* underlining */
width: 93px;
height: 2px;
background-color: #6861fc;

/* white bg */
height: 87px;
background-color: white;
box-shadow: 0.5px 0.9px 3px rgba(4, 4, 4, 0.15);



Footer:
/* copyright */
opacity: 0.6;
color: white;
font-family: Lato;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.03em;

/* Style for "footer bg" */
height: 255px;
background-color: #393939;


Assigments Page:

Tabs:
/* Tab-Topics */
color: white;
font-family: Lato;
font-size: 20px;
font-weight: 700;
letter-spacing: 0.03em;

/* Purple tab */
width: 220px;
height: 64px;
background-color: #6861fc;
box-shadow: 0.5px 0.9px 3px rgba(4, 4, 4, 0.15);

/* CCSS */
color: #b7b7b7;
font-family: Lato;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.03em;

/* Style for "Rectangle" */
width: 331px;
height: 64px;
background-color: white;
box-shadow: 0.5px 0.9px 3px rgba(4, 4, 4, 0.15);

/* purple line */
height: 2px;
background-color: #6861fc;



Topics: 

/* grey bg */
width: 1463px;
height: 931px;
opacity: 0.6;
background-color: #f3f3f5;

/* rounded topic bg” */
width: 430px;
height: 61px;
background-color: white;
border-radius: 30px;
box-shadow: 0.5px 0.9px 3px rgba(4, 4, 4, 0.15);

/* Find assignment… */
color: #898989;
font-family: Lato;
font-size: 16px;
font-weight: 300;
font-style: italic;
letter-spacing: 0.03em;

/* topics list */
width: 320px;
color: black;
font-family: Lato;
font-size: 19px;
font-weight: 400;
line-height: 78px;
letter-spacing: 0.03em;

